body{
  margin: 0;
}
p{
  margin: 0;
}
main{
  width: 295px;
  background-color: black;
  border: 1px solid ;
  border-radius: 10%;
  position: absolute;
  top: 130px;
  left: 750px;
}
.iphone-hand{
  margin: 120px 0px 0px 650px;
}
img{
  height: 9px;
}
button{
  border: none;
  padding: 0px;
}
input{
  padding: 0;
}